<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="ProgramOrder_SnapShot_1617436939719"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.3.7"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="108"/>
    <intAttribute key="maxHeapSize" value="50"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="0"/>
    <stringAttribute key="modelBehaviorVars" value=""/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value="Ops(hd)"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Keys;;{k1, k2};1;1"/>
        <listEntry value="Vals;;{v1, v2};1;1"/>
    </listAttribute>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="InitVal;;InitVal;1;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="CC"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
